@mixin brand-font() {
  font-family: 'Abel';
  font-weight: 800;
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Alegreya';
}

@mixin content-font() {
  font-weight: 400;
  font-family: 'Alegreya';
}