#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 0.2rem;
  @include heading-font;
  .navbar-brand {
    color: $white;
    @include brand-font;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      input.login-form,input.login-btn {
        padding: 0.1rem !important;
        margin-top: 0.19rem;
        font-weight: 600;
      }
      input.login-form {
        height: calc(1.6rem + 1px);
      }
      a.reset-password {
        font-weight: 200;
      }
      a.nav-link {
        color: $white;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
    div.loginUsingBtnGroupWrapper {
        line-height: 1rem;
        span.googleBrand {
            color: $blue
        }
        span.facebookBrand {
            color: $blue
        }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 1.38em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
}